<div class="collection-template collection-template-default">
  <div class="container">
    {% render 'breadcrumb' %}
    <div class="halo-collection-content">
      <div class="row boost-pfs-filter-horizontal-wrapper">
        {% section 'collection-template-default' %}
      </div>
      {% section "newsletter-block" %}
      {% section 'recently-viewed-products' %}
    </div>
  </div>
</div>