{% layout 'password' %}
<link rel="stylesheet" href="{{ 'password.scss.css' | asset_url }}">

<div class="mainContainer">

  {%- comment -%}
  {% if settings.password_layout == 'default'%}
    {% section 'password-section' %}
  {% else %}
    {% section 'password-section-02' %}
  {% endif %}
  {%- endcomment -%}

  <div class="accessArea">
    <img src="{{ 'RF.com_Logo_White-02.png' | asset_url }}" class="logo_">
    <div class="text">
      #FINDRUBAIYAT
    </div>
    <div class="text_2nd">
      SOON
    </div>
    {% form 'storefront_password', autocomplete:"off"  %}
      {{ form.errors | default_errors }}
      <input type='password' name='password' id='password' autocomplete="new-password" placeholder="Enter your password" />
      <div class="actions">
        <button class="btn_" name="commit" type="submit">
          <svg enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect fill="none" height="50" width="50"/><polygon points="15,2.75 12.914,4.836 33.078,25 12.914,45.164 15,47.25 37.25,25 "/></svg>
        </button>
        {%- comment -%}
          <input class="btn" name="commit" type="submit" value="Enter" />
        {%- endcomment -%}
      </div>
    {% endform %}
  </div>

  <video autoplay muted loop id="passwordPage">
    <source src="{{ 'password_page.mp4' | asset_url }}" type="video/mp4">
  </video>
</div>